.nav {
    display: flex;
    align-items: center; /* This vertically aligns the logo and search bar */
    padding: 12px 20px; /* Adds some spacing */
    z-index: 2;
    background-color: #FAF9F6;
    border-bottom: 2px solid #E7E7E7;
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.1);
}

.search-container {
    /*auto margins center the container */
    margin-left: auto;

    display: flex;
    border-radius: 20px;
    align-items: center;
    position: relative; /* Needed to position the icon */

}

.search-container:hover {
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
}

.search-container ion-icon {
    position: absolute; /* Position the icon inside the input field */
    left: 12px;       /* Give it some space from the left edge */
    color: #555;
}   
.search-bar {
    padding: 8px 12px 8px 36px;
    border-radius: 20px;
    border: 1px solid #ccc;

    outline: none; /* Removes the default outline on click */
}